{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "endOfLine": "auto",
  "proseWrap": "always",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "singleAttributePerLine": true,
  "experimentalTernaries": true
}