@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #0500FF;
  --color-black: #1C1C1C;
  --color-gray: #F0F0F0;
  --color-gray-secondary: #DFDFDF;

  /* Widths */
  --w-9: 34px;

  /* Fonts */
  --font-sans: 'Helvetica Neue', sans-serif;

  --font-h1-size: 20px;
  --font-h1-weight: 500;
  --font-h1-line-height: 24.42px;

  --font-h2-size: 16px;
  --font-h2-weight: 400;
  --font-h2-line-height: 19.54px;

  --font-h3-size: 16px;
  --font-h3-weight: 400;
  --font-h3-line-height: 19.09px;

  /* Shadows */
  --shadow-md: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
} 

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--font-h1-family);
  font-weight: var(--font-h1-weight);
  font-size: var(--font-h1-size);
  line-height: var(--font-h1-line-height);
}

h2 {
  font-family: var(--font-h2-family);
  font-weight: var(--font-h2-weight);
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
}

h3 {
  font-family: var(--font-h3-family);
  font-weight: var(--font-h3-weight);
  font-size: var(--font-h3-size);
  line-height: var(--font-h3-line-height);
}

